<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class ="main">
    <div class = "container">
    <h1>Amazing cars!</h1>
    <br><br><br>
        <div class = "row">
            <div class = "col"> 
                <img src="/images/car1.jpg">
            </div>
            <div class = "col"> 
                <img src="/images/car2.jpg">
            </div>
            <div class = "col"> 
                <img src="/images/car3.jpg">
            </div>
            <div class = "col"> 
                <img src="/images/car4.jpg">
            </div>
        </div>

        <br><br><br>
        <div class="row"> 
            <div class="col">
                <h3> Survey Form: </h3>
                <form  class=" form-group " action='/users' method='post'>
                    Name: <input class="form-control col-4" type='text' name='name'>
                    Location: <input class="form-control col-4" type='text' name='location'>
                    Language: <input class="form-control col-4" type='text' name='language'>
                    Comment(optional): <input class="form-control col-4" type='text' name='comment'>
                    <br>
                    <button class="btn btn-danger" type="submit">Submit</button>
                </form>
            </div>
            <div class="col">
                 <h3>User Info:</h3>
                 
                    <br>
            </div>
        </div>
    </div>
</body>
</html>