<html>
<body>
    <h2>Here are all the users:</h2>
        <p>Name: <%= users.name %></p>
        <p>Location: <%= users.location %></p>
        <p>Language: <%= users.language %></p>
        <p>Comment: <%= users.comment %></p>
</body>
</html>